body {background-color:black;
font-family: arial;
color: black;}
h1{color:grey;
font-family: verdana}
.maindiv {
	background-color: white;
	font-color: black;
	width: 300px;
	padding: 50px;
	border: 25px;
	border-radius: 25px;
	height: 300px;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
  	
	margin: auto;
}
input{
	margin: 8px;
	align-self: center;
}
/* Border-radius value 25px shapes the corners to rounded corners.
	height: 300px;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	margin: auto;
-The above css styling code places the element at the center of the page.
input froom above styles all the inputs*/